@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Syne:wght@600;700;800&display=swap');

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  margin: 0 auto;
}

.react-multi-carousel-dot-list {
  gap: 8px;
}
